<!doctype html>
<html>
<head>
<title>Bookcase Home</title> 
</head>

<link href= "../style.css" rel="stylesheet">
<body>

    <h2>Bookcases:</h2>
{{#each bookcases}}
<li>
    Name:<a href="/detail?title={{name}}">{{name}}</a>
 </li> 
{{/each}}
<hr>
</body>
</html>
{{!-- name : "Billy", type : "bookcase", height : 63, width : 79, price : 98, color : "white" --}}