<!doctype html>
<html>
<head>
<title>Bookcase Home</title> 
</head>

<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

<!-- Don't use this in production: -->
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>


<link href= "../style.css" rel="stylesheet">
<body>

    <h2>Bookcases:</h2>
{{#each bookcases}}
<li>
     Name:<a href="/detail?id={{_id}}">{{name}}</a>
 </li> 
{{/each}}
<hr>
</body>
</html>
